<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table{
            table-layout: fixed;
        }
        td, th{
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<table  align="center" rules="rows" style="width:60%;">
    <tr>
        <td>
            <table border="1"  bgcolor="#7FFFD4" cellpadding="10" style="width:100%; border-radius:5px;">
                <tr>
                    <td  align="center" colspan="2">
                        <font color="423434"><h1>Заметки</h1></font>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="width:35%" bgcolor="#e6e6fa">
                        <h4 align="center">Категории:</h4>
                        <div th:each="list: ${lists}">
                            <a th:href="@{/list/{uid}(uid=${list.getUid()})}" th:utext="${list.getName()}"></a>
                            <form align="right" action="#" method="POST" th:action="@{/list/{uid}/edit (uid=${list.getUid()})}">
                                <input type="text" name="name" />
                                <!-- <input type="hidden" name="uid" th:value="${currentList.getUid()}"> -->
                                <input type="submit" value="Изменить" />
                            </form>
                            <form align="right" action="#" th:action="@{/list/{uid}/delete (uid=${list.getUid()})}">
                                <input type="submit" value="Удалить" />
                            </form>
                        </div>
                    </td>
                    <td valign="top" bgcolor="#e6e6fa">
                        <h3 align="center" th:utext="${currentList.getName()}"></h3>
                        <div th:each="task: ${tasks}">
                            <p th:href="@{/task/{taskUid}(taskUid=${task.getUid()})}" th:utext="${task.getTittle()}"></p>
                            <form align="right" action="#" method="post" th:action="@{/task/{taskUid}/editTask (taskUid=${task.getUid()})}">
                                <input type="hidden" name="taskUid" th:value="${taskUid}"  />
                                <input type="text" name="title"  />
                                <input type="submit" value="Изменить" />
                            </form>
                            <form align="right" action="#" th:action="@{/task/{taskUid}/delete (taskUid=${task.getUid()})}">
                                <input type="hidden" name="parentUid" th:value="${currentList.getUid()}"  />
                                <input type="submit" value="Удалить" />
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:35%" bgcolor="#e6e6fa">
                        <form action="#" method="post" th:action="@{/addList}">
                            <input type="text" name="name" />
                            <input type="submit" value="Добавить" />
                        </form>
                    </td>
                    <td bgcolor="#e6e6fa">
                        <form th:if="${currentList.getUid()}" action="#" method="post" th:action="@{/list/addTask}">
                            <input type="hidden" name="parentUid" th:value="${currentList.getUid()}"  />
                            <input type="text" name="title"  />
                            <input type="submit" value="Добавить" />
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>